<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SA38ADTeam6Entities" connectionString="metadata=res://*/SA38ADTeam6.csdl|res://*/SA38ADTeam6.ssdl|res://*/SA38ADTeam6.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=sa38adteam6;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>